.page__content-footer {
  padding: 0 48px;
  width: 100%;
}

@media screen and (max-width: 984px) {
  .page__content-footer {
    padding: 0 24px;
}
}

@media screen and (max-width: 568px) {
  .page__content-footer {
    padding: 0 16px;
}
}