.photo-grid__item {
  box-sizing: border-box;
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: transform .3s ease-in;
  }

  .photo-grid__item:hover {
    transform: scale(105%);
    transition: transform .3s ease-in;
  }