.footer__link {
  text-decoration: none;
  color: #fff;
  font-family: 'Inter', "Arial ", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  transition: opacity .3s ease-in;
}

.footer__link:hover {
  opacity: .8;
  transition: opacity .3s ease-in;
}

@media screen and (max-width: 568px) {
  .footer__link {
    font-size: 24px;
    line-height: 24px;
  }
}