.content__section_size_l {
  box-sizing: border-box;
  width: 100%;
  padding: 0 148px;
}

@media screen and (width: 1140px) {
  .content__section_size_l {
    padding: 0 48px;
  }
}

@media screen and (width: 984px) {
  .content__section_size_l {
    padding: 0;
  }
}

@media screen and (width: 568px) {
  .content__section_size_l {
    padding: 0;
  }
}