.content__sectio-lead {
  box-sizing: border-box;
  min-height: 1005px;
  padding: 0 0 148px;
  width: 100%;
}

@media screen and (max-width: 1140px) {
  .content__sectio-lead {
    min-height: 962px;
    padding: 0 48px;
  }
}

@media screen and (max-width: 984px) {
  .content__sectio-lead {
     min-height: 862px;
    padding: 0;
  }
}

@media screen and (max-width: 568px) {
  .content__sectio-lead {
    min-height: 200px;
    padding: 0;
  }
}